{% extends 'navbar.html' %}
{% load static %}



{% block title %}Homepage{% endblock %}

{% block body_block %}
     <div class="navBar">
            <ul class="navBarUl">
                <li class="navBarLi"><a href="/rango/">Home</a></li>
                <li class="navBarLi"><a href="/rango/static-images/">Static Images</a></li>
                <li class="navBarLi"><a href="/rango/models/">Models</a></li>
                <ul style="float:right;list-style-type:none;">
                    <li class="navBarLi"><a href="/rango/about/">About</a></li>
                </ul>
            </ul>
        </div>
    <h1>Welcome to Rango's About Page</h1>

{% endblock %}